# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
.venv/
venv/
env/

# Distribution / build
dist/
build/
site/

*.egg-info/
*.egg

# pytest
.pytest_cache/
.coverage
htmlcov/

.vscode/

# OS
.DS_Store
Thumbs.db
